<!doctype html>
<html lang='{{ shop.locale }}'>
    <head>
        <meta charset='utf-8'>
        <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
        <meta name='theme-color' content='#D1784F'>
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

        <meta name='google-site-verification' content='yfvl60NFhANfK0QEfmfniz5MpZHFcKE88YSmKU_6VzQ'>
        <meta name='facebook-domain-verification' content='u7ma97nvv7dz6rg5e6yuwr0gzvm0gl'>

        <link href='{{ shop.url }}{{ collection.url }}'>
        {% render 'head__cannonical' %}

        {% if settings.favicon %}
            <link rel='shortcut icon' href='{{ settings.favicon | img_url: ' 32x32' }}' type='image/png'>
        {% endif %}

        {% render 'head__title' %}

        {% if page_description %}
            <meta name='description' content='{{ page_description | escape }}'>
        {% endif %}

        {% render 'seo__microdata' %}
        {% render 'seo__metatags' %}

        {% render 'styles__all-calls' %}

        <script src='{{ ' jquery-3.7.1.slim.min.js' | asset_url }}'></script>
        <script src='{{ ' slick.min.js' | asset_url }}'></script>

        {{ content_for_header }}
    </head>

    <body
        id='{{ page_title | handle }}'
        class='template-{{ template.name | handle }} template-suffix-{{ template.suffix | handle }}'
        data-template='{{ template.name | handle }}'
        data-suffix='{{ template.suffix }}'
    >
        <div class='page-overlay' data-action='close-cart'></div>

        <main role='main' class='e-{{ template.name | handle }} {{ template.name | handle }} e-main-section'>
            {{ content_for_layout }}
        </main>

        {% render 'scripts__all-calls' %}
    </body>
</html>
